<br><br><br><br>


<!--<button class="button is-info" (click)="cs.create()">Create New Chat</button>-->
<div *ngIf="auth.user$ | async; then authenticated else guest">
</div>
<ng-template #guest>
    <h4>Guest Home Page</h4>
</ng-template>
<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
        
        <section>
                
                <div *ngFor="let post of posts | async ">
                   <!-- 
                        <div *ngIf="auth.currentUserId === post.authorId">
                            <a class="btn btn-primary" align="end" (click)="delete(post.id)">Delete</a>
                        </div>
                        
                    
                    
                    -->
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{post.image}}" alt="{{post.title}}">
                        <div class="card-body">
                            <h2 class="card-text" routerLink="postdetail/{{post.id}}">{{post.title}}</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="postdetail/{{post.id}}">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    <div *ngIf="auth.currentUserId === post.authorId">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="delete(post.id)">Delete</button>
                                    </div>
                                </div>
                                <small class="text-muted">Posted by <span routerLink="profile/{{post.authorId}}">{{post.author}}</span> &bull; on {{ post.published.seconds*1000 | date: 'fullDate' }}</small>
                            </div>
                        </div>
                    </div>
                    
                
            </div>
        
                
            </section>
    </div>
</ng-template>
