<br><br><br><br>
<h1>LOGIN PAGE</h1>
<div *ngIf="auth.user$ | async; then authenticated else guest">
</div>
<ng-template #guest>
    <h2>Not Logged in</h2>
    <button (click)="auth.googleSignin()" class="btn btn-primary btn-lg btn-block">
        Google Sign In
    </button>
</ng-template>
<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
    <h2>Logged In</h2>
    <h3>User Details</h3>
    <p>
        Name: {{ user.displayName }},<br>
        UID: {{ user.uid }},
    </p>
    <img [src]="user.photoURL">
    <button (click)="auth.signOut()" class="btn btn-primary btn-lg btn-block">
        LogOut
    </button>
    </div>
</ng-template>
